@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #017a9b;
    --secondary-color: #525c65;
    --light-color: #f5fcfe;
    --footer-color: #f5f8f8;
    --grey-color: #6d7780;
    --bone-color: #f7f7f8;
    --blueish-color: #2e3d49;
    --logo-color: #02b3e4;
    --fineprint-color: #525c65;
    --stories-color: #f3f8ff;
    --beige-color: #f7f7f8;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-width: 200px;
}

body {
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.button-primary {
    padding: 1rem;
    text-transform: uppercase;
    text-decoration-line: none;
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;
}