.hero-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 0;
    color: var(--bone-color);
}

.hero-home {
    text-align: center;
    background: black;
}

.learn-button {
    width: 80%;
    line-height: 80px;
    padding: 0.6rem 4rem;
    background-color: var(--primary-color);
}

.partner {
    display: none;
}

.partner-list li {
    display: inline-block;
    margin-right: 20px;
}

.partner-list img {
    height: 44px;
    width: auto;
    vertical-align: middle;
}

.comparision-title {
    padding: 1rem;
    text-align: center;
    color: var(--blueish-color);
}

.comparision-table {
    width: 100%;
}

.comparision-table td, .comparision-table th {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.comparision-table td:not(:first-child) {
    min-width: 80px;
}

.comparision-table td:first-child {
    width: 100%;
    padding-left: 1rem;
    text-align: left;
    color: var(--blueish-color);
    background-color: var(--light-color);
}

.comparision-table td:nth-child(2), .comparision-table th:nth-child(2) {
    text-align: center;
    background-color: var(--primary-color);
}

.comparision-table td:last-child, .comparision-table th:last-child {
    text-align: center;
    background-color: var(--secondary-color);
}