.flex {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: inline-block;
}

.flex-list {
    display: flex;
}

.header__nav {
    position: sticky;
    top: 0;
}

.page-section {
    width: 100%;
}

.page-container {
    max-width: 73.75rem;
    margin: 0 auto;
    text-align: center;
}