.flex {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: inline-block;
}

.flex-list {
    display: flex;
    flex-direction: row;
}

.mobile-nav {
    display: none;
}

.header__nav {
    position: sticky;
    top: 0;
}

.page-section {
    padding: 4rem 0;
}

.stories-section {
    padding-top: 4rem;
    background-color: var(--stories-color);
}

.footer-section {
    padding-top: 4rem;
    background-color: var(--footer-color);
}

.page-container {
    max-width: 73.75rem;
    margin: 0 auto;
    text-align: center;
}