.header {
    display: flex;
    padding: 1.2rem 0;
    justify-content: space-between;
    background-color: #fff;
}

.nav-toggle-button {
    margin: 1rem;
}

.burger {
    width: 32px;
    height: 32px;
}

.header-logo-full {
    display: none;
}

.nav-full {
    display: none;
}

.nav-list li {
    display: inline-block;
}

.nav-dropdown span::after {
    padding-left: 0.5rem;
    content: url('/image/pointer_down.svg');
}

.nav-list a {
    padding: 2rem;
    text-decoration-line: none;
}

#button-signup {
    padding: 0.5rem 1rem;
}

.flex-dummy {
    width: 64px;
}