@media (min-width: 480px) {
    .hero-section {
        padding-top: 4rem 0;
    }
    .hero-home {
        flex-grow: 4;
        width: 100%;
        max-width: 960px;
        padding: 40px;
        background-image: url('/image/hero_banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-comparision {
        flex-grow: 1;
    }

    .comparision-table td:first-child {
        min-width: 220px;
    }

    .comparision-table td:not(:first-child) {
        min-width: 90px;
        max-width: 110px;
    }

    .learn-button {
        width: 220px;
    }

    .cards-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .story-card {
        height: 480px;
    }
}

@media (min-width: 760px) {
    .hero-home {
        text-align: left;
    }

    .hero-home-text {
        width: 500px;
    }

    .partner-text, .partner  {
        display: block;
    }

    .comparision-table td:not(:first-child) {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
    }

    .stats-list, .stories-cards-list, .footer-nav {
        flex-direction: row;
    }

    .nav-main-link {
        flex-direction: column;
        padding: 0;
        pointer-events: none;
    }

    .nav-main-link::after {
        content: none;
        display: none;
    }

    .footer-primary {
        background-color: inherit;
        box-shadow: none;
    }

    .footer-nav li ul {
        display: block;
    }
}

@media (min-width: 980px) {
    .nav-toggle {
        display: none;
    }

    .header-logo-short {
        display: none;
    }

    .header-logo-full {
        padding-left: 1rem;
        display: block;
    }

    .nav-full {
        display: block;
    }

    .flex-dummy {
        display: none;
    }

    .hero-container {
        flex-direction: row;
    }

    .comparision-table td:not(:first-child) {
        min-width: 90px;
        max-width: 110px;
    }

    .card {
        margin: 0.5rem;
    }

    .story-card {
        height: 410px;
    }
}

@media (min-width: 1180px) {
    .header-logo-full {
        padding-left: 0;
    }

    .card {
        margin: 0.3rem;
    }
}